{{#section 'css'}}
<link rel="stylesheet" href="stylesheets/project.css"> {{/section}}

<!-- header -->
<header class="container-fluid">
    <div class="row">
        <div class="col-md-offset-3 col-md-6 text-center">
            <a href="/"><img class="cucumber-logo text-center" src="images/logo_en.png" width="600"></a>
        </div>
        <div class="col-md-3 text-right" id="nccu_logo">
            <img src="images/nccu_logo.jpg">
        </div>
    </div>
</header>

<section id="tool-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills" role="tablist">
                    <li><a data-toggle="tab">{{user}}</a></li>
                    <li><a href="/sign_out">sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="main">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-4">
                <div id="new_project-form">
                    <div id="form">
                        <h2>Create a new project</h2>
                        <label>Project Name</label><br>
                        <input type="text" id="project_name"><br>
                        <hr>
                        <label>Contract Name</label><br>
                        <input type="text" id="contract_name1"><br>
                        <button class="new_deploy contract1">Add another contract instance</button><br>
                    </div>
                    <br>
                    <button id="new_project">Create</button>
                    <button id="add_contract">Add more contracts</button>
                </div>
            </div>

            <div class="col-md-4">
                <div id="project_list">
                </div>
            </div>
        </div>
    </div>
</section>

{{#section 'script'}}
<script src="javascripts/project.js"></script>
{{/section}}