/*
 * header
 */
header {
	width: 100%;
	height: 104px;
}

header #nccu_logo {
	margin-top: 10px;
	margin-bottom: 10px;
}

header #nccu_logo img {
	height: 84px;
	width: 84px;
}

/*
 * tool-bar
 */

#full {
	margin-left: 2rem;
}

/*
 * Main
 */

.tab-pane {
    margin-top: 1rem;
}

.tab-pane {
    height: 80vh;
}

.tab-pane div,
.tab-pane pre {
    height: 100%;
}

.fill {
 padding: 0;
}

#mochaOutput {
    background-color: black;
}

/*
 * footer
 */