body {
	background-color: #EAEDF2;
}

/*
 * header
 */
header {
	background-color: white;
	width: 100%;
	height: 104px;
}

header #nccu_logo {
	margin-top: 10px;
	margin-bottom: 10px;
}

header #nccu_logo img {
	height: 84px;
	width: 84px;
}

/*
 * main
 */

#tool-bar {
	background-color: beige;
}

#main {
	margin-top: 2rem;
}

/*
 * sign
 */

#sign_in-tab,
#sign_up-tab {
	margin-left: 2rem;
}

.sign-header {
	color: white;
	font-size:2.5rem;
	font-weight: 50px;
	width: 40rem;
	height: 5rem;
	background-color: #323A45;
	text-align:center;
	line-height:5rem;
}

.sign-body {
	background-color: white;
	width: 40rem;
	padding-bottom: 3rem;
	padding-left: 5rem;
	padding-right: 5rem;
}

.sign-body label{
	color: gray;
	margin-top: 2rem;
}

.sign-body input{
	padding-left: 1rem;
	margin-top: 1px;
	width: 30rem;
	height: 4rem;
	border: 2px solid gray;
	background-color: #FAFBFD;
}

.sign-submit {
	font-size:2rem;
	background-color: #01AFD1;
	color: white;
	width: 30rem;
	height: 4rem;
	border:2px blue none;
	margin-top: 2rem
}