/*
 * Header
 */

header #github-logo {
    margin-top: 1rem;
}


/*
 * Main
 */

#project .row div div {
    background-color: gray;
    height: 20rem;
    margin: 1rem;
    border-style: solid;
    border-color: red;
    border-width: 3px;
    border-radius: 20px;
}

#project{
    display: none;
}