/*
 * header
 */
header {
	width: 100%;
	height: 104px;
}

header #nccu_logo {
	margin-top: 10px;
	margin-bottom: 10px;
}

header #nccu_logo img {
	height: 84px;
	width: 84px;
}

/*
 * Main
 */

 #tool-bar {
	background-color: beige;
}

#main {
    margin-top: 2rem;
}